* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;   
}

button {
    font-size: 50px;
    margin:250px 40px 40px 40px;
    padding: 100px;
    border: 5px solid blue;
    border-radius: 12px;
}